name: CI

on:
  pull_request:
    branches:
      - master
  push:
    tags:
      - "v*"
    branches:
      - master

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-22.04]
        ocaml-version: [4.14.1]
        node-version: [20.x]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Print Yarn cache
        id: print-yarn-cache
        run: echo "yarn-cache=$(yarn cache dir)" >> $GITHUB_OUTPUT

      - name: Restore Yarn cache
        id: yarn-cache
        uses: actions/cache@v4
        with:
          path: ${{ steps.print-yarn-cache.outputs.yarn-cache }}
          key: ${{ matrix.os }}-yarn-${{ hashFiles('yarn.lock', '*/yarn.lock') }}

      - name: Install Yarn deps
        run: yarn install

      - name: Setup OCaml ${{ matrix.ocaml-version }}
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-version }}

      - name: Install Opam deps
        run: opam install . --deps-only --with-test

      - name: Build PPX
        run: opam exec -- dune build

      - name: Build ReScript lib
        run: |
          cd lib
          yarn run build
          cd ../examples
          yarn run build

      - name: Run PPX tests
        run: opam exec -- dune exec test.exe

      - name: Run integration tests
        run: |
          cd specs
          yarn run test

  build_macos:
    name: Build on ${{ matrix.runner }}
    runs-on: ${{ matrix.runner }}
    needs:
      - validate
    strategy:
      matrix:
        runner: [macos-15-intel, macos-15]
        include:
          - runner: macos-15-intel
            arch: x64
            artifact-name: darwin-x64
          - runner: macos-15
            arch: arm64
            artifact-name: darwin-arm64
        ocaml-version: [4.14.1]
        node-version: [20.x]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Print Yarn cache
        id: print-yarn-cache
        run: echo "yarn-cache=$(yarn cache dir)" >> $GITHUB_OUTPUT

      - name: Restore Yarn cache
        id: yarn-cache
        uses: actions/cache@v4
        with:
          path: ${{ steps.print-yarn-cache.outputs.yarn-cache }}
          key: ${{ matrix.artifact-name }}-yarn-${{ hashFiles('yarn.lock', '*/yarn.lock') }}

      - name: Install Yarn deps
        run: yarn install

      - name: Setup OCaml ${{ matrix.ocaml-version }}
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-version }}

      - name: Install Opam deps
        run: opam install . --deps-only --with-test

      - name: Build PPX
        run: opam exec -- dune build

      - name: Build ReScript lib
        run: |
          cd lib
          yarn run build
          cd ../examples
          yarn run build

      - name: Run PPX tests
        run: opam exec -- dune exec test.exe

      - name: Run integration tests
        run: |
          cd specs
          yarn run test

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact-name }}
          path: _build/default/ppx/bin/bin.exe

  build_linux:
    name: Build on Linux ${{ matrix.arch }}
    runs-on: ${{ matrix.runner }}
    needs:
      - validate
    strategy:
      matrix:
        runner: [ubuntu-22.04, ubuntu-22.04-arm]
        include:
          - runner: ubuntu-22.04
            arch: x64
            artifact-name: linux-x64
          - runner: ubuntu-22.04-arm
            arch: arm64
            artifact-name: linux-arm64
        ocaml-version: [4.14.1]
        node-version: [20.x]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Print Yarn cache
        id: print-yarn-cache
        run: echo "yarn-cache=$(yarn cache dir)" >> $GITHUB_OUTPUT

      - name: Restore Yarn cache
        id: yarn-cache
        uses: actions/cache@v4
        with:
          path: ${{ steps.print-yarn-cache.outputs.yarn-cache }}
          key: ${{ matrix.artifact-name }}-yarn-${{ hashFiles('yarn.lock', '*/yarn.lock') }}

      - name: Install Yarn deps
        run: yarn install

      - name: Setup OCaml ${{ matrix.ocaml-version }}
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-version }}

      - name: Install Opam deps
        run: opam install . --deps-only --with-test

      - name: Build PPX
        run: opam exec -- dune build

      - name: Build ReScript lib
        run: |
          cd lib
          yarn run build
          cd ../examples
          yarn run build

      - name: Run PPX tests
        run: opam exec -- dune exec test.exe

      - name: Run integration tests
        run: |
          cd specs
          yarn run test

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact-name }}
          path: _build/default/ppx/bin/bin.exe

  build_windows:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    needs:
      - validate
    strategy:
      matrix:
        os: [windows-latest]
        ocaml-version: [4.14.1]
        node-version: [20.x]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Print Yarn cache
        id: print-yarn-cache
        run: echo "::set-output name=yarn-cache::$(yarn cache dir)" # Using the old way as the new way doesn't work on windows

      - name: Restore Yarn cache
        id: yarn-cache
        uses: actions/cache@v4
        with:
          path: ${{ steps.print-yarn-cache.outputs.yarn-cache }}
          key: ${{ matrix.os }}-yarn-${{ hashFiles('yarn.lock', '*/yarn.lock') }}

      - name: Install Yarn deps
        run: yarn install

      # - name: Apply Opam deps patch
      #   run: |
      #     $lastCommitterName = git log -1 --pretty=format:'%an'
      #     $lastCommitterEmail = git log -1 --pretty=format:'%ae'
      #     git config user.name "$lastCommitterName"
      #     git config user.email "$lastCommitterEmail"
      #     git apply windows.patch
      #     git add .
      #     git commit -m "Patch opam deps"

      - name: Setup OCaml ${{ matrix.ocaml-version }}
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-version }}

      # - name: Pin Opam deps
      #   run: |
      #     opam pin add dune https://github.com/ocaml/dune.git#1e54fd3 # 3.20.2
      #     opam pin add ppxlib https://github.com/ocaml-ppx/ppxlib.git#e027461 # 0.28.0
      #     opam pin add alcotest https://github.com/mirage/alcotest.git#927088f # 1.7.0

      - name: Install Opam deps
        run: opam install . --deps-only --with-test

      - name: Build PPX
        run: opam exec -- dune build

      - name: Apply Windows path patch for examples/rescript.json
        run: git apply windows-examples.patch

      - name: Build ReScript lib
        run: |
          cd lib
          yarn run build
          cd ../examples
          yarn run build

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}
          path: _build/default/ppx/bin/bin.exe

  prepare_release:
    needs:
      - build_macos
      - build_linux
      - build_windows
    name: Prepare release
    runs-on: ubuntu-slim
    if: startsWith(github.ref, 'refs/tags/v')

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Download macOS x86 artifacts
        uses: actions/download-artifact@v4
        with:
          name: darwin-x64
          path: _bin/darwin/x64

      - name: Download macOS ARM artifacts
        uses: actions/download-artifact@v4
        with:
          name: darwin-arm64
          path: _bin/darwin/arm

      - name: Download Linux x64 artifacts
        uses: actions/download-artifact@v4
        with:
          name: linux-x64
          path: _bin/linux/x64

      - name: Download Linux arm64 artifacts
        uses: actions/download-artifact@v4
        with:
          name: linux-arm64
          path: _bin/linux/arm64

      - name: Download Windows artifacts
        uses: actions/download-artifact@v4
        with:
          name: windows-latest
          path: _bin/windows

      - name: Move artifacts
        run: |
          mkdir -p _release/bin
          mv _bin/darwin/x64/bin.exe _release/bin/re-formality-ppx-darwin-x64.exe
          mv _bin/darwin/arm/bin.exe _release/bin/re-formality-ppx-darwin-arm64.exe
          mv _bin/linux/x64/bin.exe _release/bin/re-formality-ppx-linux-x64.exe
          mv _bin/linux/arm64/bin.exe _release/bin/re-formality-ppx-linux-arm64.exe
          mv _bin/windows/bin.exe _release/bin/re-formality-ppx-win-x64.exe
          rm -rf _bin

      - name: Move lib files
        run: |
          mkdir -p _release/src
          cp README.md _release/README.md
          cp lib/rescript.json _release/rescript.json
          cp -a lib/src/. _release/src/
          cp .github/workflows/scripts/postinstall.js _release/postinstall.js
          node .github/workflows/scripts/write-package-json.js

      - name: Upload release
        uses: actions/upload-artifact@v4
        with:
          name: release
          path: _release
